# Ignore everything
**

# ... except for dependencies and source
!Pipfile
!Pipfile.lock
!app/
!pet/
!static/
!templates/
!LICENSE
!start_prod.sh
!conf/*.sh
!conf/*.yaml
!conf/*.pem
!requirements.txt
!README.md
